/* ------------------------------------------------------------------
 *  NAME PAGE
--------------------------------------------------------------------- */

/* ------------------------------------------------------------------
NAME SECTION
--------------------------------------------------------------------- */
body {
    background-color: yellow;
    font-size: 14px;
}







/* ------------------------------------------------------------------
 *  MEDIA
--------------------------------------------------------------------- */