$dark-blue: #343e5c;
$black: #1c1e23;
$green-accent: #00e2aa;
$blue-gray: #a1a8bd;
$blue-accent: #2754eb;
$product-color: #b8bfd3;
$footer-color: #222328;
$gray-bg: #e4e5e7;
$circle-bg: #e3e8f0;
$white: #fff;

$borderRadius: 5px;